.ant-menu-item.ant-menu-item-selected{
  background-color: #feeeeb;
  color: #d34127;
  font-weight: bold;
}

.ant-menu-item.ant-menu-item-selected>svg{
  filter: invert(29%) sepia(100%) saturate(1433%) hue-rotate(349deg) brightness(90%) contrast(84%);
}

li.ant-menu-item{
  padding-left: 24px !important;
  padding-right: 24px !important;
  display: flex !important;
  align-items: center;
  margin-bottom: 12px !important;
  height: 60px !important;
}

.ant-menu{
  padding-left: 10px;
  padding-right: 14px;

}

svg {
  flex-shrink: 0;
}