// CustomPasswordInput.scss

.custom-password-input {
  position: relative;

  .ant-input-password {
    // Adjust the input's styles as needed
    width: 100%;
  }

  .ant-input-password-icon {
    cursor: pointer;
  }
}
